/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #baafdb;
}

h1, h2 {
  color: #f8f2f2;
}

a {
  text-decoration: none;
  color: #f8faf3;
}

a:hover {
  color: #ecf0eb;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
header {
  background-color: #22328b;
  color: rgb(12, 112, 65);
  padding: 40px 20px;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
}

/* Navigation */
nav {
  background-color: #000764;
  padding: 10px 0;
}

nav a {
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Main Content */
main {
  padding: 40px 0;
}

section {
  margin-bottom: 40px;
  opacity: 0; /* Inicialmente invisível */
  transition: opacity 1s ease-in-out; /* Transição suave de opacidade */
}

section.fade-in {
  opacity: 1; /* Quando a classe fade-in for aplicada, a opacidade será 1 */
}

section h2 {
  margin-bottom: 20px;
}

/* Lists */
ul {
  list-style-type: disc;
  margin-left: 20px;
}

/* Footer */
footer {
  background-color: #22298b;
  color: rgb(252, 251, 251);
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

/* Botões de Acessibilidade */
#accessibility-buttons {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #000764;
  padding: 10px;
  border-radius: 5px;
}

#accessibility-buttons button {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

#accessibility-buttons button:hover {
  background-color: #45a049;
}

/* Contraste Alto */
.high-contrast {
  background-color: #000;
  color: #fff;
}

/* Aumentar fonte */
body.increase-font, body.increase-font h1, body.increase-font h2 {
  font-size: 1.2rem; /* Aumenta o tamanho da fonte */
}

body.decrease-font, body.decrease-font h1, body.decrease-font h2 {
  font-size: 0.9rem; /* Diminui o tamanho da fonte */
}

/* Desabilitar animações */
.no-animations * {
  transition: none !important;
  animation: none !important;
}
